* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans TC';
}

body {
  background-color: #f6f7f1;
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}

.header-banner {
  background-image: url('../images/podemosaprender.jpg');
  height: 70vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* margin-top: 80px; */
  position: relative;
}

header {
  /* position: fixed !important; */
  /* z-index: 1; */
  width: 100%;
  top: 70vh;
  /* left: 0; */
  height: 80px;
}

nav {
  height: 80px;
  z-index: 1;
}

#navbarNavDropdown {
  justify-content: flex-end;
}

.navbar-brand.ml-3 {
  color: #fff;
  font-weight: 700;
  font-size: 1em;
}

.nav-link {
  color: #fff !important;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 1em;
}

.bg-info {
    background-color: #00529C!important;
    opacity: .98;
}

.dropdown-menu {
  background-color: #00529C;
}

.dropdown-item {
  color: #fff;
}

#about-text {
  text-align: justify;
  margin-bottom: 20px !important;
}

.about-banner {
  background-image: url('../images/manosunidas3.jpg');
  height: 75vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-banner h1 {
  font-size: 4em;
  font-weight: 600;
  color: #fff;
  margin-bottom: .5em;
}

.about-banner p {
  font-size: 22px;
  font-weight: 600;
  color: #fff;
}

footer {
  background-color: #013b6f;
  display: flex;
  padding-top: 2em;
  padding-bottom: 2em;
}









/* .header {
  background-image: url(../images/manosunidas.jpg);
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  text-align: center;
} */

/* h1 {
  font-size: 60px;
} */

/* .subtitulo {
  font-size: 21px;
  font-weight: 900;
}

.naranja {
  color: #e64a19;
} */

.white {
  color: white;
}

/* .amarillo {
  color: #ff8f00;
}

.bginfo-oscuro {
  color: #17a2b8;
} */

.gris {
  color: whitesmoke;;
}

/* .stroke {
  text-shadow: -2px -2px 1px #000, 2px 2px 1px #000, -2px 2px 1px #000,
    2px -2px 1px #000;
} */

/* .navbar-light .navbar-nav .nav-link {
  color: black;
  font-size: 18px;
} */

/* .navbar-light .navbar-nav .active > .nav-link {
  color: black;
} */

.navbar-brand {
  font-size: 20px;
  font-weight: 800;
}

footer {
  /* background: #111;
  padding: 10px 0px; */
  color: whitesmoke;
}

.enlace {
  list-style: none;
}

.icon {
  font-size: 40px;
  color: #17a2b8;
  margin: 3px;
}

.icon:hover {
  transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
  transition-duration: 400ms;
  color: #ff8f00;
  opacity: 0, 9;
}

.subrayado ul li {
  border-bottom: 1px solid #ff8f00;
  line-height: 30px;
}

.footer-bottom-text {
  text-align: center;
  /* background: #000; */
  line-height: 60px;
  color: #999;
}

